
.smex-items
*~$
*~
.mc-lists.el
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
auto-save-list/
auto-save-list/**/*.*
backups/
backups/**/*.*

# Undo-tree save-files
*.~undo-tree

